/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}
.hidden {
  display: none;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 8px;
}
.search-input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  padding: 0px 16px;
}
.search-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}
.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 240px;
}

.gallery-data {
  padding: 8px;
}

.img-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.img-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.load-more {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.gallery-load {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}
